name: Scan Docker image

on:
  workflow_dispatch:
  schedule:
    - cron: "37 6 * * *"

env:
  REGISTRY: docker.io
  IMAGE_NAME: ${{ github.repository }}
  SARIF_FILE: trivy-results.sarif

jobs:
  scan_job:
    name: Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          format: sarif
          output:  ${{ env.SARIF_FILE }}
          # severity: CRITICAL,HIGH

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ env.SARIF_FILE }}
